# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
libraries/

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

#Working files
bbc-weather.html
motd.txt
setExtTemp.txt
status.txt
met-forecast.xml
suntimes.xml
suntimes.txt

#Private flies
esp-wifi-board/wifi.h
monitor_home/safeDevices.txt
wifi-test/http_get_test.ino
wifi-test/wifi_connect_test.ino
